// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #4525F2;
$light-grey: #F2F4F8;
$light-orange: #EF9E39;


$link-color: #4525F2;
$input-background: #F2F4F8;
$disabled-color: #4525f282;

//faq-cards colors
$faq-first-card-color: #4525F2;
$faq-second-card-color: #45484A;
$faq-third-card-color: #69916C;
$faq-fourth-card-color: #EF9E39;
$faq-fifth-card-color: #1FB341;

//chat
$chat-border-color: #e4e4e4;
