
* {
    font-size: 16px;

    &:focus {
        outline: none !important;
    }
}

a {
    color: $link-color;
    cursor: pointer;

    &:hover {
        color: $link-color;
        text-decoration: none;
    }
}

h1, h2, h3, h5, h6 {
    font-weight: 700;
}

input {
    background-color: $input-background;
    padding: 13px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    &:focus {
        outline: none;
        border: 2px solid #4525F2;
    }
}

img {
    max-width: 100%;
}
