@media screen and (max-width: 1023px) {
    .main-window__inner {
        padding: 20px;
    }

    .main-window {
        background-color: transparent;
    }

    .header {
        justify-content: space-between;
    }

    .main-window {
        padding: 0;

        .main-window__inner {
            box-shadow: 0px 0px 17px -11px #1c2126;
        }
    }



}
