.profile {
    width: 100%;

    .profile-element {
        width: 100%;
        margin-bottom: 50px;

        &.profile__name {
            text-align: center;
        }

        &.profile__contacts {

            .profile__contacts_item:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        &.profile__about {

            p {
                white-space: pre;
            }
        }
    }
}
