.user-sideblock__links {
    a {
        color: #000;
        padding: 12px 16px;
        border-bottom: 1px solid #E5E5E5;
        font-weight: 600;

        &.active {
            color: $link-color;
        }
    }

    button {
        color: #000;
        padding: 12px 16px;
        border-bottom: 1px solid #E5E5E5;
        font-weight: 600;
        background: transparent;
        text-align: start;
    }
}

#add-request {
    .add-request__component {
        margin-bottom: 40px;
    }

    .falling-list {
        background: $input-background;
        padding: 20px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        width: 500px;
        max-height: 300px;
        overflow-y: scroll;
        z-index: 999;

        .product {
            margin-bottom: 10px;
            padding: 10px;
            cursor: pointer;
            border: 1px solid;
            border-radius: 15px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
        }
    }

    hr {
        border-top: 2px solid #4525F2 !important;
        box-shadow: 0 3px 6px rgba(0,0,0,0.2);
        margin: 20px 0;
    }

    .title {
        margin-bottom: 22px;
    }

    .add-request__title {
        label {
            margin-right: 30px;
        }

        input {
            width: 375px;
        }
    }

    .request-products {
        input {
            width: 500px;
        }
    }

    .picked-products {
        margin-top: 20px;
        .picked-product {
            padding: 9px 20px;
            background-color: #E6E6E6;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            margin-right: 20px;

            span {
                color: $blue;
            }

            .remove-btn {
                right: -4px;
                top: -4px;
                background-image: url('../../public/images/icons/close-btn.svg');
                width: 20px;
                height: 20px;
                background-color: transparent;
            }
        }
    }

    .request__payment-methods {
        .payment-method {
            padding: 9px 20px;
            border-radius: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            -ms-border-radius: 9px;
            -o-border-radius: 9px;
            text-align: center;
            border: 1px solid #4B4B4B;
            margin-right: 20px;
            transition: 0.1s;
            -webkit-transition: 0.1s;
            -moz-transition: 0.1s;
            -ms-transition: 0.1s;
            -o-transition: 0.1s;
            &.selected {
                border-color: $blue;
                box-shadow: 0px 0px 7px 0px #4252f2;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .add-request__component {
        .add-request__component--title {
            color: #5D854B;
            margin-bottom: 0;
            margin-right: 20px;
        }

        .address-field {
            width: 50%;
        }
    }

    .picked-products__field {
        margin-bottom: 20px;

        label {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 700;
        }

        small {
            color: $blue;
        }

        .btn-calculate {
            border-radius: 10px;
        }
    }
}
